
:root{
  --grey-color: #3F3F3F;
  --primary-color:#F25F5C;
  --secundary-color:#63ADF2;
  --black-color:#1C1C1C;
  --white-color:#F1FFFA
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.first_container{
  display: flex;
  flex-flow: wrap;
}

.no_decoration {
  text-decoration: none;
}